.contact-link{
    font-weight: 700;
    color: #EB4A4A;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.title{
    font-size: 70px;
    font-weight: 600;
    color: #EB4A4A;
}

.message{
    margin-right: 100px; 
    text-align: justify;
}

.left-section{
    margin-left: 120px;
}

.right-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 120px;
      
}

.call{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    align-items: center;
}

.call img{
    width: 40px;
}

.email{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}
.email img{
    width: 40px;
}

.call p, .email p{
    padding-left: 20px;
}

.second-section{
    display: flex;
    flex-direction: row;
}

.right-section label{
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 0px;
    color: white;
}

.right-section input{
    height: 50px;
    border-radius: 10px;
    border: none;
}

.first-section, .second-section, .third-section, .fourth-section{
    margin-bottom: 14px;
}

.email-section{
    margin-right: 20px;
}

.first-section input{
    width: 590px;
    font-family:'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding-left: 10px;
}

.third-section textarea{
    width: 590px;
    font-family:'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    height: 100px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.third-section textarea::-webkit-scrollbar{
    display: none;
}

.email-section input, .phone-number-section input{
    width: 280px;
    border: none;
    font-family:'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}


.fourth-section button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #EB4A4A;
    color: white;
    font-family:'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: opacity 0.3s, background-color 0.5s, color 0.5s, cursor 0.5s ;
}

.fourth-section button:hover{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #EB4A4A;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.fourth-section button:active{
    opacity: 0.3;
}

::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    color: rgb(165, 165, 165);
    padding-left: 5px;
    text-align: start;
  }


