
body{
    background-color: black;
    margin-bottom: 300px;
}

body::-webkit-scrollbar{
    display:none
}


p{
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 0px;
    color: white;
}

.left{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;

}


.middle{
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1.6;
    justify-content: center;

}

.home-page-icon{
    height: 30px;
}

.right{
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;

}

.right img{
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;


}

.right button{
    background-color: black;
    margin-right: 50px;
    height: 23px;
    border: none;
    overflow: hidden;
    transition: opacity 0.2s, cursor 0.5s;

}

.right button:hover{
    cursor: pointer;
}

.right button:active{
    opacity: 0.6;
}

.header{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-link{
    font-weight: 700;
    color: #EB4A4A;
}

.home-link:hover, .about-link:hover, .projects-link:hover, .contact-link:hover{
    text-decoration: underline;
}