.home-link{
    font-weight: 700;
    color: #EB4A4A;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-left: 60px;
}

.introduction-content{
    width: 500px;
    height: 500px;
    margin-left: 20px;

}

.picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    margin-top: 30px;
    margin-left: 10px;
    height: 90%;
}

.first-line{
    display: grid;
    grid-template-columns: 60px 1fr;
}

.first-line img{
    flex-direction: row;
    height: 50px;
}

.first-line-image{
    height: 90px;

    display: flex;
    align-items: end;
    justify-content: center;

}

.first-line-text{
    display: flex;
    align-items: end;

}

.first-line p{
    font-size: 30px;
    font-weight: 100px;
}

.remaining-line{
    display: grid;
    grid-template-rows: 90px 100px 80px 100px 50px;

}

.second-line-text{
    padding-left: 10px;
}


.third-line-text{
    padding-left: 10px;
}   

.second-line-text p{
    font-size: 90px;
}

.third-line-text p{
    font-size: 90px;
    margin-top: -5px;
}

.fourth-line-text{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.fourth-line-text p{
    font-size: 20px;
    color: #EB4A4A;
}

.fifth-line-text p{
    text-align: justify;
    padding-left: 10px;
    color: #ababab;
}

.get-in-touch{
    margin-top: 15px;
}

.get-in-touch button{
    background-color: #EB4A4A;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.7s, color 0.7s, cursor 0.5s, opacity 0.5s;
}

.get-in-touch button:hover{
    cursor: pointer;
    background-color: white ;
    color: #EB4A4A;
    
}

.get-in-touch button:active{
    opacity: 0.4;
}