.projects-link{
    font-weight: 700;
    color: #EB4A4A;
}

.body {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 60px;
    flex: 100px 1;

}


.project-header{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.project-header h2{
    font-size: 4rem;
}

.project-header p{
    font-size: 1.15rem;
    text-align: center;
}

hr{
    margin-top: 1.4rem;
    width:95%;
    border-width:10;
    border-color: #EB4A4A;
}

.content{
    width: 90%;
}

.tech-stack p, .features p{
    font-size: 1.15rem;
    text-align: start;
}

.tech-stack h2, .features h2, .snippets h2, .github-repo h2{
    font-size: 2rem;
}

.github-repo a{
    color: rgb(76, 168, 255);
}

.github-repo p{
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 200;
    padding-left: 50px;
    color: rgb(76, 168, 255);
}
